body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 800;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 5%;
}
p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4161;
  color: #fff;
  padding-bottom: 10%;
  overflow: hidden;
  height: 95vh;
}
#features {
  padding: 7% 20%;
  background-color: white;
  position: relative;
}

.container-fluid {
  padding: 3% 15%;
}
.navbar {
  padding: 0 0 4.7rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.download-button {
  margin: 5% 3% 5% 0;
}
.tindog-image {
  width: 400px;
  transform: rotate(25deg);
  position: absolute;
  margin: 0 0 0 3%;
}
.feature-icon {
  height: 20%;
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}
.features-box {
  padding: 5%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
}
.testimonial-text {
  padding-bottom: 2%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
#pricing {
  text-align: center;
  overflow: hidden;
  padding: 10% 0%;
}
.card-container {
  padding: 0;
}

@media (max-width: 1172px) {
  #title {
    text-align: center;
  }

  .tindog-image {
    position: static;
    transform: rotate(0deg);
  }
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-header {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  padding-bottom: 1%;
}

#footer {
  text-align: center;
  margin: 7% 0;
}
.footer-icons {
  margin: 0 0.5%;
}
p {
  margin-top: 1%;
}
